@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-roboto: 'Roboto', sans-serif;
    --font-condensed: 'Roboto Condensed', sans-serif;
}

.mini-slider-container .slick-track {
    display: flex !important;
    align-items: center;
}
.mini-slider-container .slick-list {
    margin: 0 -12px;
}
.mini-slider-container .slick-slider {
    display: flex;
    align-items: center;
    gap: 16px;
}
.mini-slider-container .slick-list {
    flex: 1;
}
.mini-slider-container .slick-arrow {
    position: static;
    cursor: pointer;
    transform: none;
}
